.card {
    text-align: center;
    border: solid black 1px;
    padding: 20px;
    margin: 20px;
    height: 350px;
    width: 350px;
    display: inline-block;
    box-shadow:2px 2px 8px 0px rgba( 0, 0, 0, 0.2 );
    background-color: linen;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    cursor: pointer;
    vertical-align: bottom;

    .card-pic {
        width: 300px;
        height: 250px;
    }


}

.hidden {
    display: none;

    .card-pic {
        display: none;
    }

    .dog-name {
        display: none;
    }
}